<table class="wa-zebra-rows wa-hover-rows">
    <thead>
    <tr>
        <th th:text="#{invoice.table.number}"></th>
        <th th:text="#{invoice.table.issue_date}"></th>
        <th th:text="#{invoice.table.due_date}"></th>
        <th th:text="#{invoice.table.currency}"></th>
        <th th:text="#{invoice.table.supplier}"></th>
        <th th:text="#{invoice.table.customer}"></th>
        <th th:text="#{invoice.table.amount}"></th>
        <th style="text-align: right;" th:text="#{invoice.table.actions}"></th>
    </tr>
    </thead>
    <tbody id="invoice-table-body">
    <tr th:if="${invoices == null || invoices.isEmpty()}">
        <td colspan="8" class="r-no-data" th:text="#{invoice.table.not_found}" style="text-align: center"></td>
    </tr>
    <tr th:each="invoice : ${invoices}" th:id="'row-' + ${invoice.id}">
        <td th:data-label="#{invoice.table.number}" th:text="${invoice.number}"></td>
        <td th:data-label="#{invoice.table.issue_date}" th:text="${invoice.issueDate}"></td>
        <td th:data-label="#{invoice.table.due_date}" th:text="${invoice.dueDate}"></td>
        <td th:data-label="#{invoice.table.currency}" th:text="${invoice.currencyCode}"></td>
        <td th:data-label="#{invoice.table.supplier}" th:text="${invoice.supplierId}"></td>
        <td th:data-label="#{invoice.table.customer}" th:text="${invoice.customerId}"></td>
        <td th:data-label="#{invoice.table.amount}" th:text="${invoice.payableAmount}"></td>
        <td th:data-label="#{invoice.table.actions}" style="text-align: right;">
            <wa-button
                    size="small"
                    variant="brand"
                    th:hx-get="@{/invoice/{id}/pdf(id=${invoice.id})}"
                    hx-target="body"
                    th:text="#{invoice.table.view_pdf}">
            </wa-button>
            <wa-button
                    size="small"
                    variant="danger"
                    th:hx-target="'#row-' + ${invoice.id}"
                    th:hx-delete="@{/invoice/{id}(id=${invoice.id})}"
                    hx-disabled-elt="this"
                    hx-swap="outerHTML swap:0.5s"
                    th:hx-confirm="#{invoice.table.delete_confirm}"
                    th:text="#{invoice.table.delete}">
            </wa-button>
        </td>
    </tr>
    </tbody>
</table>
