<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="r-continue-with-google-button-dependencies">
    <script type="importmap">
        {
            "imports": {
                "lit": "https://cdn.jsdelivr.net/gh/lit/dist@3/core/lit-core.min.js",
                "lit/": "https://cdn.jsdelivr.net/gh/lit/dist@3/"
            }
        }
    </script>
    <script type="module" th:src="@{/assets/components/r-continue-with-google-button.js}"></script>
</th:block>
</html>