<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<body>
<main layout:fragment="content">
    <div class="wa-split" style="justify-content: right">
        <wa-button size="small" th:href="@{/invoice/new}"
                   variant="neutral" th:text="#{invoice.create}">
        </wa-button>
    </div>
    <div th:replace="~{fragments/invoice-table :: table(invoices=${invoices})}"></div>
</main>
</body>
</html>
